*{ 
  font-family: 'Pacifico', cursive;
}
body {
   
}

form {
    border:5px solid black
 
}
input {

    align-content: justify;
}
.div3 {
 margin:20px 75px;
 width: 20%;
 background-color:#808080;
}
.div4 {
    /* padding:20px 50px; */
    margin:20px 75px;
    width: 20%;
    background-color:#808080;
   
    
}
legend > input {
    align:justify;
}
.nav {
     text-decoration:none;
    font-size: 80px;
    font-weight: bolder;
    text-decoration-style: dotted;
}
#header{
     background-image: url("./image1.jpg");
}
#link{
     background-image: url("./image1.jpg");
     background-repeat: repeat;
     
}